@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Fjalla+One&family=Roboto&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto";
  width: 100%;
  background-color: antiquewhite;
}
h1 {
  width: 80%;
  margin: 20px auto;
}

.container {
  display: flex;
  width: 80%;
  margin: 20px auto;
}
.add-member {
  margin-right: 0;
  border: 1px solid;
  padding: 5px 10px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 240px;
}
.add-btn {
  margin-left: -4.5px;
  background-color: coral;
  border: 1px solid;
  padding: 5px 10px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.add-btn:hover {
  cursor: pointer;
}
.top-bar {
  display: flex;
}
.team-section {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  /* width: 10%; */
}
.team {
  border: 1px solid;
  padding: 5px 10px;
  margin: 0 15px;
  border-radius: 3px;
  /* border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; */
}
.minus {
  padding: 0 11px;
  margin-right: 30px;
}
.bottom-bar {
  margin-top: 20px;
}
.assign-member {
  width: 385px;
  margin-left: 0;
  background-color: rgb(172, 172, 111);
}
.team:hover {
  cursor: pointer;
  /* zoom: calc(1.1); */
}
.list-of-memebrs {
  background-color: white;
  width: 480px;
  min-height: 200px;
  margin-top: 20px;
  box-shadow: 0 0 2px 2px grey;
  border-radius: 5px;
  /* max-height: 465px; */
}
.number-of-teams {
  transform: translateX(-8px);
  font-size: 18px;
  /* font-weight: bold; */
  width: 20px;
  text-align: center;
  /* background-color: antiquewhite; */
  /* border: none; */
}
h3 {
  margin-left: 70px;
  /* margin-top: 150px; */
}
.team-members {
  width: 200px;
  min-height: 100px;
  background-color: white;
  margin-left: 20px;
  box-shadow: 0 0 2px 2px grey;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 0;
}
.teams-for-members {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.team1 {
  transform: translateY(-15px);
}
li {
  padding-bottom: 2px;
  padding-top: 2px;
  margin-left: -20px;

  list-style-type: none;
}
.team2 {
  display: none;
  color: red;
  zoom: calc(1.2);
  /* visibility: hidden; */
  /* background-color: black; */
}
.fill {
  margin-top: 10px;
  background-color: rgb(140, 178, 140);
}
.attendence {
  display: flex;
}
.attendence > h2 {
  margin-bottom: 0;
  padding: 0;
}
h4 {
  margin-right: 350px;
  margin-bottom: 0;
}
.ordered-names {
  list-style-type: none;
}
.reset {
  background-color: red;
  color: white;
}
.add {
  background-color: rgb(196, 218, 162);
}
.minus {
  background-color: red;
  font-size: 20px;
}
